/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main page */

.main-page {
	background: white;
	padding: 3px 6px;
}

/* Header */

.articles-header {
	display: flex;
	align-content: center;

	background: linear-gradient(#AC3546, #862836);
	border: 1px solid #932C3B;
	border-bottom: 2px solid #C0002D;

	color: white;
	font-family: sans-serif;
	font-size: 11.2px;
	font-weight: bold;
	text-transform: uppercase;
	height: 60px;
}

.left-header {
	align-self: flex-start;
	height: 10px;
	padding: 25px 15px;
}


.right-header-author {
	margin-left: auto;
	flex: none;
	height: 10px;
	padding: 25px 26.0485px;
	border-left: 1px solid #932C3B;
}

.right-header-words {
	flex: none;
	height: 10px;
	padding: 25px 8.531px;
	border-left: 1px solid #932C3B;
}

.right-header-time {
	flex: none;
	height: 10px;
	padding: 25px 24.828px;
	border-left: 1px solid #932C3B;
}

.right-header-words:hover {
	background: linear-gradient(#E0435A, #AC3546);
	cursor: pointer;
}

.right-header-time:hover {
	background: linear-gradient(#E0435A, #AC3546);
	cursor: pointer;
}

/* Article Body */

.articles-list {
 border-left: 1px solid #EAEAEA;
 border-right: 1px solid #EAEAEA;
 font-family: sans-serif;
}

.article-item {
	border-bottom: 1px solid #EAEAEA;
	display: flex;
	align-content: center;
}

.article-item:nth-child(2n) {
	background: #F4F4F4;
}
.article-thumbnail-container {
	flex: none;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin: 9px;
}
.article-thumbnail {
	position: relative;
	right: 12.5px;
	width: auto;
	height: 50px;
}

.article-title-container {
	display: flex;
	align-items: center;
}

.article-title {
	color: #14587A;
	font-size: 14px;
	font-weight: bold;
}

.article-author-container {
	display: flex;
	align-items: center;
	border-left: 1px solid #EAEAEA;
	margin-left: auto;
	width: 100px;
}

.article-author {
	flex: none;
	margin-left: 10px;
	max-width: 80px;
	font-size: 12px;
	color: #2774AD;
}

.article-words-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #EAEAEA;
	width: 60px;
}

.article-words {
	flex: none;
	max-width: 50px;
}

.article-submitted-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #EAEAEA;
	width: 115px;
}

.article-submitted {
	flex: none;
	max-width: 100px;
}

/* Footer */
